body{
	font-size:120%;
	font-family: "Crimson Text", "Times New Roman", serif;
	background-color:#f2fffc;
}
main h1{
	font-size: 60px;
	background-color: #851944;
	color: #fff;
	text-align: center;
	font-family:"Open Sans Condensed", "Arial", sans-serif;
}
h1, h2{
	font-size: 40px;
	font-family:"Open Sans Condensed", "Arial", sans-serif;
}
p{
	text-align: justify;
}

blockquote{
	background-color: #d9e5e3;
}

aside{
	background-color: #3C1D3D;
	color:#F2FFFC;
}

footer{
	background-color: #000;
	color: #F2FFFc;
}
nav a{

	color: #f2fffc;
}
main a{
	color: #851944;
}

aside a{
	color: inherit;
	font-family: "Open Sans Condensed", sans-serif;
}
