body{
	font-size:120%;
	font-family: "Crimson Text", "Times New Roman", serif;
	background-color:#f2fffc;
	line-height: 1.5;
}


main h1{
	font-size: 60px;
	background-color: #851944;
	color: #fff;
	text-align: center;
	font-family:"Open Sans Condensed", "Arial", sans-serif;
	padding: 20px;
	margin: 0px;
	border-bottom: 10px solid black;
	text-transform: uppercase;
}

main{
	line-height: 1.5;
}

main div{
	box-sizing: 720px;
	margin: auto;
}

main a{
	color: #851944;
}

div{
	width: 720px;
	margin-left: auto;
	margin-right: auto;
}
h1, h2{
	font-size: 40px;
	font-family:"Open Sans Condensed", "Arial", sans-serif;
}
p{
	text-align: justify;
	margin: 30px 0;
}

blockquote{
	background-color: #d9e5e3;
	padding: 16px;
	border: 10px solid #c2ccca ;
	width: 250px;
	margin: 0px;
	box-sizing:border-box;
}

strong{
	font-weight: 600;
}
em{
	font-style: italic;
}

aside{
	background-color: #3C1D3D;
	color:#F2FFFC;
	text-align: center;
	padding: 20px;
	font-family: "Open Sans Condensed", sans-serif;
}
aside a{
	color: inherit;
	font-family: "Open Sans Condensed", sans-serif;
}

.icones-sociais li{
	display: inline-block;
}

.icones-sociais a{
	display: inline-block;
	width: 40px;
	height: 40px;
	text-indent: -9999px;
}

.github{
	background-image: url(github.png);
}

.twitter{
	background-image: url(twitter.png);
}

.linkedin{
	background-image: url(linkedin.png);
}

nav h1{
	font-size: 30px;
	margin-bottom: 25px;
}
nav a{
	color: inherit;
}


ul{
	list-style-type:none;
}


footer{
	background-color: #000;
	color: #F2FFFc;
}



